.filter:hover {

    cursor: pointer;
  }

  .filter {
    padding: 19px 52px;
    color: #3540ff;
    background-color: #e2e4ec;
  }

  .filter-text {
  

    width: 33%;
    font-size: 30px;
    font-weight: 600;
padding-left: 22px;
    text-align: left;
    color: #0f1d38;
  }

  .active-filter {
    background-color: #3540ff;
    color: 
    #cbd4fa;
  }

  .input-filter {

 
    padding: 14px 31px 15px 18px;
    box-shadow: 0px 3px 16px 0 rgba(216, 220, 237, 0.52);
    background-color: #fff;
  
  }

